@use "foundation" as *;

.p-company {
  padding-top: prem(120);
  @include mq("md") {
    padding-top: prem(80);
  }
}

.p-company__wrap {
  display: grid;
  grid-template-columns: prem(600) minmax(0, 1fr);
  @include mq("md") {
    grid-template-columns: minmax(0, 1fr);
  }
}

.p-company__map {
  position: relative;
  min-height: prem(445);
  @include mq("md") {
    min-height: prem(300);
  }

  iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }
}

.p-company__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: prem(25) prem(50);
  background-color: $main-color;
  @include mq("md") {
    padding: prem(32) prem(20);
  }
}

.p-company__label {
  font-family: $font-family-en;
  font-weight: $semi-bold;
  letter-spacing: 0.25em;
  color: $sub-color;
}

.p-company__heading {
  margin-top: prem(16);
  font-weight: $bold;
  font-size: prem(56);
  line-height: 1.2;
  color: $color-white;
  @include mq("md") {
    margin-top: prem(12);
    font-size: prem(32);
  }
}

.p-company__list {
  margin-top: prem(42);
  display: flex;
  flex-direction: column;
  @include mq("md") {
    margin-top: prem(24);
  }
}

.p-company__row {
  display: flex;
  gap: prem(8);
  font-size: prem(18);
  line-height: 2.7;
  color: $color-white;
  @include mq("md") {
    font-size: prem(16);
    line-height: 2.2;
  }
}

.p-company__term {
  flex-shrink: 0;
  &::before {
    content: "・";
  }
  &::after {
    content: "：";
  }
}
