@use "foundation" as *;

.p-header {
  height: prem(72);
  background-color: $color-white;
  @include mq("md") {
    height: prem(50);
  }
}

.p-header__inner {
  padding: 0 prem(64);
  height: inherit;
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    padding: 0 0 0 prem(16);
  }
}

.p-header__logo {
  width: 100%;
  max-width: fit-content;
  height: inherit;
}

.p-header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
  font-family: $font-family-en;
  font-weight: $semi-bold;
  font-size: prem(19);
  color: #000;
  @include mq(md) {
    font-size: prem(17);
  }
}

.p-header__nav {
  height: inherit;
  @include mq("md") {
    display: none;
  }
}

.p-header__nav-list {
  display: flex;
  height: inherit;
}

.p-header__nav-item {
  height: inherit;
}

.p-header__nav-item.p-header__nav-item--login,
.p-header__nav-item.p-header__nav-item--mypage {
  margin-left: prem(16);
  display: flex;
  align-items: center;
}

.p-header__nav-item a {
  padding: 0 prem(16);
  height: inherit;
  display: flex;
  align-items: center;
  color: $text-color;
  text-transform: uppercase;
}

.p-header__nav-item.p-header__nav-item--login a,
.p-header__nav-item.p-header__nav-item--mypage a {
  padding: prem(8) prem(20);
  height: initial;
  border: 1px solid #000;
  border-radius: prem(5);
}

.p-header__nav-item.p-header__nav-item--mypage a {
  color: $color-white;
  background-color: $main-color;
}

.p-header__hamburger {
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: prem(50);
  height: inherit;
  background-color: $main-color;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  @include mq("md") {
    display: block;
  }
}

.p-header__hamburger.is-open {
  background-color: transparent;
}

.p-header__hamburger span {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: prem(15);
  height: 1px;
  background-color: $color-white;
  transition: 0.5s;
}

.p-header__hamburger span:nth-of-type(1) {
  top: prem(-4);
}

.p-header__hamburger span:nth-of-type(2) {
  top: 0;
}

.p-header__hamburger span:nth-of-type(3) {
  top: prem(4);
}

.p-header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  transform: translateX(-50%) rotate(45deg);
}

.p-header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.p-header__hamburger.is-open span:nth-of-type(3) {
  top: prem(-2);
  transform: translateX(-50%) rotate(-45deg);
}

.p-header__drawer {
  padding: prem(120) prem(20);
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba($color: $main-color, $alpha: 0.95);
  overflow-y: scroll;
  scrollbar-width: none;
}

.p-header__drawer::-webkit-scrollbar {
  display: none;
}

.p-header__drawer-item a {
  padding: prem(15) 0;
  display: block;
  font-size: prem(20);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: $color-white;
  border-bottom: 1px solid $color-white;
  text-transform: uppercase;
}

.p-header__drawer-item.p-header__drawer-item--login,
.p-header__drawer-item.p-header__drawer-item--mypage {
  text-align: center;
}

.p-header__drawer-item.p-header__drawer-item--login a,
.p-header__drawer-item.p-header__drawer-item--mypage a {
  margin-top: prem(32);
  padding: prem(15) prem(20);
  width: 100%;
  max-width: prem(200);
  background-color: $color-white;
  display: inline-block;
  color: #000;
  border-radius: prem(5);
  border-bottom: none;
}
