@use "foundation" as *;

.p-page-privacy {
  padding: prem(160) 0;

  @include mq(md) {
    padding: prem(120) 0;
  }
}

.p-page-privacy__intro {
  margin-top: prem(60);

  @include mq(md) {
    margin-top: prem(40);
    font-size: prem(14);
  }
}

.p-page-privacy__content {
  margin-top: prem(40);

  @include mq(md) {
    margin-top: prem(32);
  }
}
