@use "foundation" as *;

.p-reason {
  padding: prem(120) 0;
  @include mq("md") {
    padding: prem(80) 0;
  }
}

.p-reason__subtitle {
  margin-top: prem(24);
  font-size: prem(18);
  text-align: center;
  @include mq("md") {
    margin-top: prem(20);
    font-size: prem(16);
  }
}

.p-reason__content {
  margin-top: prem(80);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: prem(40);
  @include mq("md") {
    margin-top: prem(40);
    grid-template-columns: 1fr;
    gap: prem(32);
  }
}

.p-reason__figure {
  width: 100%;
  max-width: prem(640);
  flex-shrink: 0;
  @include mq(md) {
    margin-inline: auto;
    max-width: prem(400);
  }
}

.p-reason__figure img {
  width: 100%;
  aspect-ratio: 638 / 742;
  border-radius: prem(5);
  object-fit: contain;
}

.p-reason__item {
  padding-top: prem(20);
  padding-left: prem(10);
  display: flex;
  gap: prem(10);
  @include mq(md) {
    padding-top: revert;
    padding-left: revert;
  }
}

.p-reason__item + .p-reason__item {
  margin-top: prem(30);
  @include mq(md) {
    margin-top: prem(24);
  }
}

.p-reason__number {
  font-family: $font-family-en;
  font-weight: $bold;
  font-size: prem(28);
  line-height: 1.3;
  color: #475569;
  @include mq(md) {
    font-size: prem(24);
  }
}

.p-reason__heading {
  font-weight: $medium;
  font-size: prem(25);
  line-height: 1.5;
  @include mq("md") {
    font-size: prem(20);
  }
}

.p-reason__text {
  margin-top: prem(8);
  font-size: prem(18);
  @include mq("md") {
    margin-top: prem(4);
    font-size: prem(14);
  }
}
